################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/AddressBook.Api/obj/Debug
/AddressBook.Api.Tests/bin/Debug
/AddressBook.Api.Tests/obj/Debug
/AddressBook.React.Web/obj/Debug
/AddressBook.React.Web/node_modules
/AddressBook.Api/bin
/AddressBook.React.Web/bin
/AddressBook.Services/packages
/AddressBook.Services/AddressBook.Api/obj/Debug
/AddressBook.Services/AddressBook.Api.Tests/bin
/AddressBook.Services/AddressBook.Api.Tests/obj/Debug
/AddressBook.Services/AddressBook.React.Web/bin
/AddressBook.Services/AddressBook.React.Web/node_modules
/AddressBook.Services/AddressBook.React.Web/obj/Debug
/AddressBook.UI/node_modules
/AddressBook.Services/AddressBook.Api/bin/roslyn
/AddressBook.Services/AddressBook.Api/bin/AddressBook.Api.dll
/AddressBook.Services/AddressBook.Api/bin/AddressBook.Api.pdb
/AddressBook.Services/AddressBook.Api/bin/EntityFramework.dll
/AddressBook.Services/AddressBook.Api/bin/Antlr3.Runtime.pdb
/AddressBook.Services/AddressBook.Api/bin/Antlr3.Runtime.dll
/AddressBook.Services/AddressBook.Api/bin/System.Net.Http.Formatting.dll
/AddressBook.Services/AddressBook.Api/bin/Newtonsoft.Json.dll
/AddressBook.Services/AddressBook.Api/bin/Microsoft.Web.Infrastructure.dll
/AddressBook.Services/AddressBook.Api/bin/EntityFramework.SqlServer.dll
/AddressBook.Services/AddressBook.Api/bin/WebGrease.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.Razor.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.Razor.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.Deployment.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.WebPages.Deployment.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Razor.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Razor.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Optimization.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Optimization.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Mvc.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Mvc.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.WebHost.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.WebHost.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.Cors.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Http.Cors.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Helpers.xml
/AddressBook.Services/AddressBook.Api/bin/System.Web.Helpers.dll
/AddressBook.Services/AddressBook.Api/bin/System.Web.Cors.dll
/AddressBook.Services/AddressBook.Api/bin/System.Net.Http.Formatting.xml
/AddressBook.Services/AddressBook.Api/bin/Newtonsoft.Json.xml
/AddressBook.Services/AddressBook.Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/AddressBook.Services/AddressBook.Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/AddressBook.Services/AddressBook.Api/bin/EntityFramework.xml
/AddressBook.Services/AddressBook.Api/bin/EntityFramework.SqlServer.xml
